<!DOCTYPE html>
<html lang="hr">
    <head>
        <title>Katalog Game Boy igara</title>
        <meta charset="utf-8">
        <meta name="author" content="Rafael Lovrenčić">
        <meta name="keywords" content="katalog, gameboy, Game Boy, igre, videoigre">
        <meta name="description" content="Katalog Game Boy igara otvorena je baza podataka koja sadrži informacije o igrama razvijenima za konzole Game Boy, Game Boy Color i Game Boy Advance. Sadrži podatke o nazivima, godinama izdanja, žanrovima, izdavačima, veličini ROM-ova te mogućnosti spremanja stanja igre. Baza je izrađena u sklopu laboratorijskih vježbi kolegija Otvoreno računarstvo Fakulteta elektrotehnike i računarstva Sveučilišta u Zagrebu te je dostupna u JSON, CSV i BSON formatima pod GNU GPL v3.0 licencijom.">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="text-center">
            <h1>Katalog Game Boy igara</h1>
            <a href="/api/v1/api-docs" id="api-button">API docs</a>
        </div>
        <footer>
            <div>
                Autor: Rafael Lovrenčić    
            </div>
            <div>
                Licencija: GNU GPL v3.0    
            </div>
            <div>
                Godina izdavanja: 2026.
            </div>
            <div>
                Verzija: v4.0
            </div>
        </footer>
        <script src="/profile.js"></script>
    </body>
</html>